:root{
  --grey: #eaeaea;
  --heavenly: #8edafc;
  --darkgrey: #b1b1b1;
  --lightgrey: #e7e7e7;
  --notification: #4f7485;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

.d-flex{
  display: flex;
}

.d-bug{
  background-color: darkkhaki;
  border: 1px solid black;
}

.s-bar{
  overflow: auto;
}

.container{
  width: 80%;
  margin: 0 auto;
  background-color: red;
}

img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/*  */

.whatsapp .row{
  height: 100vh;
  align-items: center;
}

.row .col{
  height: 95vh;
  flex-direction: column;
}

/* colonna piccola */
.whatsapp .small{
  width: 30%;
}

.small .bottom{
  background-color: rgb(242, 225, 157);
  height: 100%;
  overflow: auto;
}

.top .my-info{
  background-color: var(--lightgrey);
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}

.my-info .icons{
  color: var(--darkgrey);
  font-size: 20px;
}

.my-info i{
    padding-left: 15px;
}

/* NOTIFICATION */
.notification{
  background-color: var(--heavenly);
  padding: 10px 15px;
}

.notification .bell{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.notification .fa-bell-slash{
  font-size: 20px;
  color: var(--heavenly);
}

.notification .receive{
  font-size: 16px;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.receive a{
  color: var(--notification);
  font-size: 10px;
}

/* RESEARCH */
.research{
  justify-content: center;
}

.research input{
  width: 95%;
  height: 30px;
  margin: 8px;
  border-style: none;
}

/* INFO-CONTACTS */
.bottom .info-contacts{
  border: 1px solid var(--lightgrey);
  padding: 10px 15px;
}

.bottom img{
  margin-right: 15px;
}

.bottom .name-contacts{
  flex-direction: column;
  justify-content: center;
}

/* colonna grande */
.whatsapp .big{
  width: 70%;
}

.big .middle{
  background-color: rgb(218, 199, 157);
  height: 100%;
  overflow: auto;
}




/*  */
/*  */
@media screen and (max-width:992px){
  .container{
      width: 100%;
  }

  .container .col{
    height: 100%;
  }

  .col.small{
    width: 10%;
  }

  .d-none{
    display: none;
  }

  .col.big{
    width: 90%;
  }

  .small .my-info,.info-contacts{
    align-items: center;
    justify-content: center;
  }
}


@media screen and (max-width:542px){
  .col.small{
    width: 0%;
  }

    .col.big{
    width: 100%;
  }
}
